---
title: Home
description: IP yourself由CAPE创始人ActionThinker和微学英语联合创始人GJ共同创办，我们致力于打造一个让你「根本停不下来」的学习型社群。
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">IP yourself today</h1>
			<p class="subtext editable">个体崛起时代，人人都应该打造属于自己专属的IP！</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">IP自媒体</h2>
				<p class="editable">「人人都可以是IP」 持续分享关于个人IP打造的方法、资源、案例、故事，让你事半功倍。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">IP学习圈</h2>
				<p class="editable">「人人都可以学IP」我们构建一个开放分享的IP学习圈子，让你找到同行者，互相助力，共同成长。</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">IP商学院</h2>
				<p class="editable">「人人都可以会IP」我们整合业内个人IP营销专家，合力打造一套视野宽、应用广、实操强的系统课程，助你早日实现个人IP变现</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">加入我们，就现在！</h2>
				<p class="subtext editable">我们重新定义个体价值，一起迎接个体IP红利时代。</p>
				<div class="cta button alt"><a href="#">现在加入</a></div>
			</div>
		</div>
	</section>
</div>
